[submodule "shadowsocks-libev"]
	path = shadowsocks-libev
	url = https://github.com/shadowsocks/shadowsocks-libev.git
[submodule "MobileShadowSocks/UIAlertView-Blocks"]
	path = MobileShadowSocks/UIAlertView-Blocks
	url = https://github.com/ryanmaxwell/UIAlertView-Blocks.git
[submodule "OpenSSL-for-iPhone"]
	path = OpenSSL-for-iPhone
	url = https://github.com/clowwindy/OpenSSL-for-iPhone.git
