project.xcworkspace/
xcuserdata/
.DS_Store
*.swp
release/
build/
*.o
shadowd
perapp-plugin/theos
perapp-plugin/.theos
perapp-plugin/*.deb

OpenSSL-for-iPhone/
shadowsocks-libev/
MobileShadowSocks/UIAlertView-Blocks/

libsodium-ios/libsodium/
libsodium-ios/libsodium.xcodeproj/xcuserdata/
libsodium-ios/libsodium.xcodeproj/project.xcworkspace 
